[Unit]
Description=Aplicacion web RedesProject con autenticacion Active Directory
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory={{ app_dir }}

Environment="AD_SERVER_IP={{ ad_server_ip }}"
Environment="AD_DOMAIN={{ ad_domain }}"
Environment="AD_BASE_DN={{ ad_base_dn }}"
Environment="AD_BIND_DN={{ ad_bind_dn }}"
Environment="AD_BIND_PASSWORD={{ ad_bind_password }}"
Environment="APP_SERVER_NAME={{ app_server_name }}"

ExecStart={{ app_dir }}/venv/bin/gunicorn --workers 2 --bind 127.0.0.1:{{ app_port }} app:app
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target